$apricot:#FFDF8C;
$white: #FFFFFF;
$greyF3:#F3F3F3;
$orange: #EB5A1E;
$orangeB1: #B14D23;
$black2C: #2C2C2C;
$black: #000000;
$grey5C: #5C5C5C;
$greyEA: #EAEAEA;
$greyF9: #F9F9F9;
$grey8D: #8D8D8D;
$greyD3: #D3D3D3;
$greyCA: #CACACA;
$green: #00CF00;